<div id="exercisesTab">
    <div class="form-group">
        <label for="adminExercise" class="col-sm-2">Exercise</label>
        <select id="adminExercises" name="adminExercises">
            <option value="1">New*</option>
        </select>
        <input type="checkbox" id="adminShowInActiveExercises" name="adminShowInActiveExercises">
        <label for="adminShowInActiveExercises">Show Inactive</label>
    </div>
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <label for="adminExerciseRoutines" class="col-sm-3 control-label">Name</label>
                    <input type="textbox" name="adminExerciseName" id="adminExerciseName">
                </div>
                <div class="row">
                    <label for="adminMuscleForExercises" class="col-sm-3 control-label">Muscle</label>
                    <select id="adminMuscleForExercises" name="adminMuscleForExercises">
                        <option value="1">Muscle 1</option>
                    </select>
                </div>
                <div class="row">
                    <label for="adminExerciseActive" class="col-sm-3 control-label">Active</label>
                    <input type="checkbox" name="adminExerciseActive" id="adminExerciseActive" checked>
                </div>
                <div class="row">
                    <button type="button" id="adminSaveExercise" class="btn btn-default">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

