<div id="groupsTab">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <label for="adminGroupName" class="col-sm-2 control-label">
                        Group
                        <select id="adminGroup" name="adminGroupNameDdl">
                            <option value="1">New*</option>
                        </select>
                    </label>
                    <input type="checkbox" id="adminShowInActiveGroups" name="adminShowInActiveGroups">
                    <label for="adminShowInActiveGroups">Show Inactive</label>
                    <div class="row">
                        <label for="adminGroupNameEdit" class="col-sm-2 control-label">
                            Group Name
                            <input type="textbox" id="adminGroupNameEdit" name="adminGroupNameEdit" class="col-sm-2">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

