
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="">
    <h3>Admin</h3>
</div>
<ul class="nav nav-pills">
    <li class="active">
        <a href="#">Groups</a>
        <div>

        </div>
    </li>
    <li><a href="#">Muscles</a></li>
    <li><a href="#">Exercies</a></li>
    <li><a href="#">Programs</a></li>
    <li><a href="#">Routines</a></li>
    <li><a href="#">Workouts</a></li>
</ul>