
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<div style="padding-top:15px;">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Exercise Programs</a></li>
            <li role="presentation"><a href="#">Exercise Routines</a></li>
            <li role="presentation"><a href="#">Exercises</a></li>
            <li role="presentation"><a href="#">Exercise Groups</a></li>
            <li role="presentation"><a href="#">Exercise Groups</a></li>
        </ul>
    </div>
</div>*@

@Html.Partial("~/Areas/Admin/Views/Admin/Routines.cshtml")

