
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="">
    <h3>Admin</h3>
</div>
<ul class="nav nav-pills">
    <li class="active">
        <a href="#">Groups</a>
        <div id="groupsPanel" class="panel">
            <div class="panel-body">

            </div>
        </div>
    </li>
    <li>
        <a href="#">Muscles</a>
        <div id="musclesPanel" class="panel">
            <div class="panel-body">

            </div>
        </div>
    </li>
    <li>
        <a href="#">Exercies</a>
        <div id="exercisesPanel" class="panel">
            <div class="panel-body">

            </div>
        </div>
    </li>
    <li>
        <a href="#">Programs</a>
        <div id="programsPanel" class="panel">
            <div class="panel-body">

            </div>
        </div>
    </li>
    <li><a href="#">Routines</a></li>
    <li>
        <a href="#">Workouts</a>
        <div id="workoutsPanel" class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>
    </li>
</ul>