<div id="musclesTab">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <label for="adminMuscleName" class="col-sm-2 control-label">
                        Muscle
                        <select id="adminMuscle" name="adminMuscleNameDdl">
                            <option value="1">New*</option>
                        </select>
                    </label>
                    <input type="checkbox" id="adminShowInActiveMuscles" name="adminShowInActiveMuscles">
                    <label for="adminShowInActiveMuscles">Show Inactive</label>
                    <div class="row">
                        <label for="adminMuscleNameEdit" class="col-sm-2 control-label">
                            Muscle Name
                            <input type="textbox" id="adminMuscleNameEdit" name="adminMuscleNameEdit" class="col-sm-2">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
