<div id="adminExerciseRoutinesTab">
    <div>
        <label for="adminExerciseRoutineName">Exercise Routine</label>
        <input type="textbox" name="adminExerciseRoutineName" id="adminExerciseRoutineName">
        <select id=adminExerciseRoutines>
            <option value="-1">New*</option>
        </select>
    </div>
    <div style="overflow:hidden;">
        <div id="adminExerciseSelections" style="min-width:300px;float:left;">
            <label for="adminExerciesToUse">Exercises</label>
            <ul id="adminExerciesToUse" class="connectedSortable">
                <li class="ui-state-default">Ex 1</li>
                <li class="ui-state-default">Ex 2</li>
                <li class="ui-state-default">Ex 3</li>
                <li class="ui-state-default">Ex 4</li>
                <li class="ui-state-default">Ex 5</li>
            </ul>
        </div>

        <div id="adminExerciseProgramsUsed" style="overflow:hidden;">
            <label for="adminExercisesUsed">Included</label>
            <ul id="adminExercisesUsed" class="connectedSortable"></ul>
        </div>
    </div>
    <div class="checkbox-inline">
        <label for="exerciseRoutineEnabledByDefault">
            <input id="exerciseRoutineEnabledByDefault" type="checkbox" checked> Enabled (by default)
        </label>
    </div>
</div>
