<div>
    <fieldset>
        <legend>Exercises</legend>
        <select id="exercisePicker" class="list-group">
            <option class="list-group-item"></option>
            <option class="list-group-item">Bench Press</option>
        </select>
    </fieldset>
</div>