
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Exercise Programs</a></li>
    <li role="presentation"><a href="#">Exercise Routines</a></li>
    <li role="presentation"><a href="#">Exercises</a></li>
    <li role="presentation"><a href="#">Exercise Groups</a></li>
    <li role="presentation"><a href="#">Exercise Groups</a></li>
</ul>

